body {
			margin:0px;
			background-color: #ffeced;
            background-image: url(imagens/pa.jpg);
		}
		nav{
			background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(150,150,150,0.9));
			width: 100%;
			position: absolute;
			top: -40px;
			transition: all 0.5s;
		}
		ul {
			text-align: right;
			list-style:none;
			padding:0px;
			margin:0px;
		}
		nav:hover {
			position: absolute;
			top: 0px;
		}
		li {
			display: inline-block;
		}
		a {
			display: block;
			text-decoration: none;
			color: white;
			background-repeat: no-repeat;
			padding:50px 20px 10px 20px;
		}
		a:hover {
			background-color: black;
		}
		.youtube {
			background-image: url(icones/icone7_b.png);
			background-position: 35px 3px;
		}
		.gmail {
			background-image: url(icones/icone6_b.png);
			background-position: 28px 3px;
		}
		.google {
			background-image: url(icones/icone5_b.png);
			background-position: 32px 3px;
		}
		.myspace {
			background-image: url(icones/icone4_b.png);
			background-position: 36px 3px;
		}
		.trip {
			background-image: url(icones/icone3_b.png);
			background-position: 42px 3px;
		}
		.doopplr {
			background-image: url(icones/icone2_b.png);
			background-position: 35px 3px;
		}
		.ember {
			background-image: url(icones/icone1_b.png);
			background-position: 29px 3px;
		}
		.youtube:hover {
			background-image: url(icones/icone7_a.png);
			background-position: 35px 3px;
		}
		.gmail:hover {
			background-image: url(icones/icone6_a.png);
			background-position: 28px 3px;
		}
		.google:hover {
			background-image: url(icones/icone5_a.png);
			background-position: 32px 3px;
		}
		.myspace:hover {
			background-image: url(icones/icone4_a.png);
			background-position: 36px 3px;
		}
		.trip:hover {
			background-image: url(icones/icone3_a.png);
			background-position: 42px 3px;
		}
		.doopplr:hover {
			background-image: url(icones/icone2_a.png);
			background-position: 35px 3px;
		}
		.ember:hover {
			background-image: url(icones/icone1_a.png);
			background-position: 29px 3px;
		}
